@import 'myBreakpoints';

$bodyColor: #cadfd5;
$similarBorder: em(2px) solid darken($bodyColor, 20%);
$headerH3size: 1.15em;
$headerH1size: ($headerH3size * 0.5) + $headerH3size;
$searchHeight: 2.25em;