@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'normalize';

.hidden {
    display: none;
}
body {
    @include outer-container;
    background: $bodyColor;
    * {
        padding: 0.5em;
    }
}
header {
    margin-top: 2em;
    text-align: center;
    background: darken($bodyColor, 20%);
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
        margin-top: -1.5em;
    }
}
main {
    @include outer-container;
    background: darken($bodyColor, 10%);
    .search-field {
        @include shift(3);
        @include span-columns(6);
    }
    #search-input {
        @include span-columns(6);
    }
    #search-type {
        @include span-columns(6);
    }
    #button-container {
        @include span-columns(4);
        @include shift(4);
        text-align: center;
    }
    #display {
        @include span-columns(12);
        @include outer-container;
        display: none;
        h1 {
            @include shift(0.75);
            @include span-columns(4);
            text-align: center;
            background: darken($bodyColor, 15%);
        }
        p {
            @include span-columns(12);
            background: darken($bodyColor, 12.5%);
        }
        #show-similar {
            @include outer-container;
            text-align: center;
            .recommendation {
                @include span-columns(4);
                @include omega(3n);
            }
        }
        .dialog {
            @include outer-container;
            a:first-of-type {
                @include span-columns(9);
            }
        }
        .similar {
            border: $similarBorder;
            h2 {
            background: darken($bodyColor, 15%);
            }
            h4 {
            background: darken($bodyColor, 12.5%);
            }
        }
    }
}