@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'normalize';

* {
    // border: 1px solid red;
}

.hidden {
    display: none;
}
.round-corners {
    border-radius: 5px;
}
.round-corners-top {
    border-radius: 5px 5px 0 0;
}
.round-corners-bottom {
    border-radius: 0 0 5px 5px;
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    
    background: url('./img/bookshelf.jpg') center fixed;
    color: black;
    * {
        padding: 0.25em;
    }
}
header {
    margin-top: 2em;
    text-align: center;
    background: $headerColor;
    width: $sameDivWidthLarge;
    @include media($mobile) {
        width: $sameDivWidthSmall;
    }
    h1 {
        font-size: $headerH1size;
    }
    h3 {
        font-size: $headerH3size;
        margin-top: -1.5em;
    }
}
main {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    align-items: space-around;
    #search-how-to {
        align-self: center;
        background: $mainColor;
        width: $sameDivWidthLarge;
        @include media($mobile) {
            width: $sameDivWidthSmall;
        }
        p {
            text-align: center;
            margin: 0 auto;
        }
    }
    #search {
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        margin: 0;
        width: $sameDivWidthLarge + $searchGlitchOffset;
        @include media($mobile) {
            width: $sameDivWidthSmall + $searchGlitchOffset;
        }
    }
    #search-form {
        background: $mainColor;
    }
    #search-field {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .search-label {
        text-align: center;
        height: 3.5em;
        @include media($gtMobile) {
            height: 2em;
        }
    }
    #search-input {
        width: $searchWidth;
        #search-term {
            height: $searchHeight;
        }
    }
    #button-container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        text-align: center;
        #reset {
            font-size: 0.75em;
            background-color: $mainColor;
            color: #000;
        }
    }
    #display {
        display: none;
        margin-top: 12em;
        @include media($gtMobile) {
            margin-top: 10em;
        }
        margin-bottom: 0;
        padding-bottom: 3em;
        #show-similar-whole {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-flow: column nowrap;
        }
        #show-similar-header {
            height: em(60px);
            display: flex;
            background: $headerColor;
            width: $sameDivWidthLarge;
            h3 {
                text-align: center;
                margin: auto;
            }
        }
        #show-similar {
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
        .similar {
            border: $similarBorder;
            flex-flow: column nowrap;
            background: $mainColorTransparent;
            .similar-header {
                display: flex;
                flex-flow: column nowrap;
                h2 {
                    margin: 0;
                    background: $headerColor;
                }
                h4 {
                    margin: 0;
                    background: darken($primaryColor, 15%);
                }
            }
            .similar-body {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                .similar-main-info {
                    order: 1;
                    display: flex;
                    img {
                        width: 8.5em;
                        height: 12.5em;
                    }
                    p {
                        width: 100%;
                    }
                }
                a {
                    order: 2;
                }
            }
        }
        .recommendation {
            margin-top: 1em;
            width: 100%;
            flex: 0 1 auto;
            @include media($gtMobile) {
                width: 50%;
            }
            @include media($gtTabletP) {
                width: 33%;
            }
        }
    }
}