@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'normalize';

* {
    // border: 1px solid red;
}

.hidden {
    display: none;
}
body {
    @include outer-container;
    background: $bodyColor;
    * {
        padding: 0.25em;
    }
}
header {
    margin-top: 2em;
    text-align: center;
    background: darken($bodyColor, 20%);
    h1 {
        font-size: $headerH1size;
    }
    h3 {
        font-size: $headerH3size;
        margin-top: -1.5em;
    }
}
main {
    @include outer-container;
    background: darken($bodyColor, 10%);
    .search-field {
        @include shift(3);
        @include span-columns(6);
    }
    .search-label {
        height: 3.5em;
        @include media($gtSmallMidpoint) {
            height: 2em;
        }
        @include media($gtMobile) {
            height: 3.5em;
        }
        @include media($gtMidpoint) {
            height: 2em;
        }
    }
    #search-input {
        clear: both;
        @include media($gtMobile) {
            @include span-columns(3 of 6);
            clear: left;
        }
        #search-term {
            height: $searchHeight;
        }
    }
    #search-type {
        clear: both;
        @include media($gtMobile) {
            @include span-columns(3 of 6);
            clear: right;
        }
        select {
            height: $searchHeight;
        }
    }
    #button-container {
        @include span-columns(4);
        @include shift(3);
        text-align: center;
        #reset {
            font-size: 0.75em;
            background-color: #AACCBC;
            color: #000;
        }
    }
    #display {
        @include span-columns(12);
        @include outer-container;
        display: none;
        margin-bottom: 0;
        padding-bottom: 3em;
        h1 {
            @include shift(0.75);
            text-align: center;
            width: 90%;
            background: darken($bodyColor, 15%);
        }
        p {
            @include span-columns(12);
            background: darken($bodyColor, 12.5%);
        }
        #show-similar-header {
            margin-top: 17em;
            margin-bottom: 1em;
            width: 90%;
            h3 {
                text-align: center;
            }
        }
        #show-similar {
            position: relative;
            top: 3em;
            text-align: center;
            margin-top: -5em;
            margin-bottom: 3em;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            .recommendation {
                margin-top: 2em;
                width: 100%;
                flex: 0 1 auto;
                @include media($gtMobile) {
                    width: 50%;
                }
                @include media($gtTabletP) {
                    width: 33%;
                }
            }
        }
        #show-close-header {
            position: relative;
            top: 2.5em;
            width: 90%;
            h3 {
                text-align: center;
            }
        }
        #show-close {
            position: relative;
            top: 3em;
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            .recommendation {
                margin-top: 1em;
                width: 100%;
                flex: 0 1 auto;
                @include media($gtMobile) {
                    width: 50%;
                }
                @include media($gtTabletP) {
                    width: 33%;
                }
            }
        }
        .dialog {
            @include outer-container;
            a:first-of-type {
                @include span-columns(9);
            }
        }
        .similar {
            border: $similarBorder;
            h2 {
            background: darken($bodyColor, 15%);
            }
            h4 {
            background: darken($bodyColor, 12.5%);
            }
        }
    }
}