@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import 'myVariables';
@import 'normalize';

* {
    // border: 1px solid red;
}

.hidden {
    display: none;
}
body {
    background: $bodyColor;
    color: black;
    * {
        padding: 0.25em;
    }
}
header {
    margin-top: 2em;
    text-align: center;
    background: darken($bodyColor, 20%);
    h1 {
        font-size: $headerH1size;
    }
    h3 {
        font-size: $headerH3size;
        margin-top: -1.5em;
    }
}
main {
    display: flex;
    flex-flow: column nowrap;
    background: darken($bodyColor, 10%);
    #search-how-to {
        width: 20em;
        align-self: center;
        p {
            text-align: center;
        }
    }
    #search {
        display: flex;
        flex-flow: column nowrap;
    }
    #search-field {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .search-label {
        height: 3.5em;
        @include media($gtSmallMidpoint) {
            height: 2em;
        }
        @include media($gtMobile) {
            height: 3.5em;
        }
        @include media($gtMidpoint) {
            height: 2em;
        }
    }
    #search-input {
        width: $searchWidth;
        #search-term {
            height: $searchHeight;
        }
    }
    #button-container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        text-align: center;
        #reset {
            font-size: 0.75em;
            background-color: #AACCBC;
            color: #000;
        }
    }
    #display {
        display: none;
        margin-bottom: 0;
        padding-bottom: 3em;
        h1 {
            flex-grow: 1;
            text-align: center;
            background: darken($bodyColor, 15%);
        }
        p {
            background: darken($bodyColor, 12.5%);
        }
        #show-similar-header {
            flex-grow: 1;
            margin-top: 1em;
            h3 {
                text-align: center;
            }
        }
        #show-similar {
            text-align: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
        .similar {
            border: $similarBorder;
            flex-flow: column nowrap;
            .similar-header {
                display: flex;
                flex-flow: column nowrap;
                h2 {
                    margin: 0;
                    background: darken($bodyColor, 15%);
                }
                h4 {
                    margin: 0;
                    background: darken($bodyColor, 12.5%);
                }
            }
            .similar-body {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                img {
                    width: 8.5em;
                    height: 12.5em;
                }
                p {
                    width: 50%;
                }
            }
        }
        .recommendation {
            margin-top: 1em;
            width: 100%;
            flex: 0 1 auto;
            @include media($gtMobile) {
                width: 50%;
            }
            @include media($gtTabletP) {
                width: 33%;
            }
        }
    }
}